@charset "UTF-8";
.TopBar {
    border: none;
    background-color:	#26414a;
}
.registerdiv {
    width: auto;
    border: none;
    float: right;
}
.Registerbtn , .Loginbtn{
    font-size: 15px;
    background-color:  #ece9e9;
    color:	#2f4f4f;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    padding: 8px;
    margin-top: 15px;
    margin-right: 3px;
    margin-left: 2px;
}
.categoriesBtnDiv {
    border: none;
    height: 40px;
    width: 750px;
    display: inline-block;
    margin-left: 8px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    
}
.settingImg {
    border-radius: 50%;
    font-size: 15px;
    background-color:  #ece9e9;
    color: 	#2f4f4f;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 40px;
    margin-top: 15px;
    margin-right: 10px;
    float: right;
}

.SettingsList {
    background-color:  #ece9e9;
    width: 15px;
    height: 10px;
    border: 5px;
    margin-top: 20px;
    margin-right: 2px;
    font-size: medium;
    float: right;
}
.SettingsList:hover{
    background-color: #bdb76b;
}
.listcontainer {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display:none;
    box-shadow: 5px 8px 16px 0px #483d8b;
    z-index: 1;
    height: 20%;
    width: 20%;
    position: absolute;
    top: 70px;
    left: 0;
}

.dropdown-content a {
    color: #2f4f4f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 120px;
    background-color: #fafafa;
}
.dropdown-content a:hover{
    background-color:  #bdb76b;
}

.dropdown a:hover {
    background-color:  #bdb76b;
}
.show {
    display: block;
}